<h1>All Gems</h1>

<%= form_tag ruby_gems_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ul>
  <% @ruby_gems.each do |rubygem| %>
    <li><%= link_to rubygem.name, ruby_gem_path(rubygem) %></li>
  <% end %>
</ul>

